*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

.navegacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
}

.lista, .lista_2{
    display: flex;
    gap: 100px;
    list-style: none;
    padding: 25px 0;
}

.lista{
    font-size: 22px;
    font-family: sans-serif;
    margin-left: 40px;
}

.lista_2{
    margin-right: 40px;
}

.boton{
    display: block;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

.contenedor_main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.imagen{
    width: 350px;
    height: 300px;
}

.con_parrafo{
    width: 500px;
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 15px;
    text-align: justify;
}




@media (max-width: 868px) {
    .navegacion{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lista, .lista_2{
        gap:70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .lista{
        margin-left: 0;
    }
    .lista_2{
        margin-right: 0;
    }
    .con_parrafo{
        text-align: center;
        width: 90%;
        text-align: justify;
    }
}


.fondo_black{
    background-color: #1B2631;
}
.parrafo_white{
    color: white;
}